 .meu-card {
            width: 250px;
            padding: 20px;
            background-color: #e795ba;
            border-radius: 8px;
            text-align: center;
            font-family: Arial, sans-serif;
            
            
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
            
          
            transition: box-shadow 0.3s ease;
        }

        .meu-card:hover {
            box-shadow: none;
        }
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .container {
    flex-direction: column;
  }
}