
  .imagem1 {
    padding: 40px;          
    background-color: #f5f5f5; 
  }

 
  .imagem1 img {
    width: 100%;              
    max-width: 500px;        
    height: auto;             
    display: block;          
  }

  .imagem1 {
  display: block; 
  margin: 100px;   
}

   .imagem2 {
    padding: 40px;         
    background-color: #c6d8ff; 
  }

 
  .imagem2 img {
    width: 100%;              
    max-width: 500px;        
    height: auto;             
    display: block;          
  }

  .imagem2 {
  display: block; 
  margin: 100px;   
}